body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-neue-machina: "Neue Machina";

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-41xl: 60px;
  --font-size-9xl: 28px;
  --font-size-61xl: 80px;

  /* Colors */
  --color-whitesmoke: #f0f0f0;
  --color-blueviolet: #6d44ff;
  --color-gray: #151515;
  --color-white: #fff;
}
